*{
  box-sizing: border-box;
  margin: 0;
}

.header,.footer {
  align-items: center;
  background-color:#bec6d9;
  border-bottom: thin groove black;
  display: flex;
  height: 10vh;
  justify-content: center;
}

.cards-container {
  background-color: #edf0f5;
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

.article-card, .detailed-card {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction:column;
  padding: 1%;
}

.article-card {
  margin-bottom: 1%;
  margin-left: 2%;
  width: 22%;
}

.article-card:hover {
  background-color: #bec6d9;
  cursor: pointer;
}

.article-card:nth-child(1,2,3,4) {
  margin-top: 2%;
}

.article-card:nth-child(4n+0) {
  margin-right: 2%;
}

.title, .author, .content {
  margin-bottom: 10px;
}

.title {
  font-size: 1.5em;
  text-align: center;
  min-height: 10vh;

}
.author {
  font-size: 1.2em;
}

.excerpt, .content {
  text-align: justify;
}

.detailed-card {
  margin: 1%;
  width: 60%;
}

.detailed-card ul {
  display: flex;
  justify-content: center;
  padding: 0
}

.detailed-card li {
  background-color: lightgray;
  border-radius: 5px;
  list-style-type: none;
  padding: 5px;
}

.detailed-card li:not(:first-child){
  margin-left: 5px;
}
